<div *ngIf="meetup">
  <br />
  <button (click)="goBack()" class="btn grey">Back</button>
  <h1>{{meetup.name | uppercase }}</h1>
  <ul class="collection">
   <li class="collection-item">City: {{meetup.city}}</li>
   <li class="collection-item">Address: {{meetup.address}}</li>
   </ul>
   <!-- <button class="btn">Edit</button> -->
   <!-- <a [routerLink]="['/edit-meetup/:id']" class="btn">Edit</a> -->
   <a routerLink="/" class="btn">Edit</a>

  <!-- <button class="btn red right">Delete</button> -->
  <button  class="btn red right" (click)="delete()">Delete</button>
  <br />
  <br />
  <hr />

  <div>
     <br />
    <!-- <a [routerLink]="['/']" class="btn grey">Back</a> -->
    <h1>Edit Meetup</h1>
    <!-- <form> -->
       <div class="input-field">
         <input [(ngModel)]="meetup.name" placeholder="name"/>
         <!-- <label for="name">Name</label> -->
       </div>
       <div class="input-field">
         <input [(ngModel)]="meetup.city" placeholder="city"/>
         <!-- <label for="city">City</label> -->
       </div>
       <div class="input-field">
         <input [(ngModel)]="meetup.address" placeholder="address"/>
         <!-- <label for="address">Address</label> -->
       </div>
       <button (click)="save()" type="submit" class="btn">Save</button>
     <!-- </form> -->
   </div>

</div>
