
<div>
  <h1>Meetups</h1>
  <ul class="collection">
    <li *ngFor="let meetup of meetups" class="collection-item">
      <a routerLink="/detail/{{meetup.id}}">{{meetup.name}}</a>
      <!-- <div><span>id: </span>{{meetup.id}}</div> -->
    </li>
  </ul>
</div>

<br />
<br />
<div>
   <br />
  <!-- <a [routerLink]="['/']" class="btn grey">Back</a> -->
  <h1>Add Meetup</h1>
  <!-- <form (submit)="onSubmit()"> -->
  <form (submit)="add(meetupName.value); meetupName.value=''">
  <!-- <form ng-submit="addText(form)" (submit)="onSubmit()"> -->
     <div class="input-field">
       <input #meetupName type="text" name="name" ref="name" />
       <label for="name">Name</label>
     </div>
     <div class="input-field">
       <input #meetupCity type="text" name="city" ref="city" />
       <label for="city">City</label>
     </div>
     <div class="input-field">
       <input #meetupAddress type="text" name="address" ref="address" />
       <label for="address">Address</label>
     </div>
     <!-- <div class="input-field">
       <input #meetupId type="text" name="id" ref="id" />
       <label for="Id">ID</label>
     </div> -->
     <input type="submit" value="Save" class="btn" />
     <!-- (click) passes input value to add() and then clears the input -->
     <!-- <button (click)="add(meetupName.value); meetupName.value=''" class="btn">
       add
     </button> -->
   </form>
 </div>
